name: Release

on:
  release:
    types: [published]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  release:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v6
      
    - name: "Set up Python"
      uses: actions/setup-python@v6
      with:
        python-version-file: ".python-version"

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Build package
      run: |
        rm -rf dist/
        uv build

    - name: Publish package to PyPI
      env:
        UV_PUBLISH_TOKEN: '${{ secrets.PYPI_TOKEN_ANLS_STAR }}'
      run: |
        uv publish
